.container{
    background-color: rgb(197, 212, 212);
    border: 1px solid;
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 16px;
    resize: both;
    overflow: auto;
}
.sidebar {
    border: 1px solid green;
    grid-column: 1;
    grid-row: 1/5;
    display: grid;
    overflow: auto;
}
.header{
    border: 1px solid red;
    grid-column: 2/5;
    grid-row: 1;
    display: grid;
}
.main {
    border: 1px solid blue;
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
}